# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\csc371-a2-BT-SAP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
